# MongoDB Atlas
MONGODB_URL=mongodb+srv://usuario:password@cluster.mongodb.net/techgear_db

# Django / FastAPI
FASTAPI_URL=http://127.0.0.1:8000
DJANGO_SECRET_KEY=replace-with-a-long-random-value
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
